* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 2px;
    padding: 0px;
    font-family: 'Open Sans' ,sans-serif;
    background-color: #ffffff;
}

.Navbar {
    width: 1300px;
    margin: auto;
    position: relative;
}

.Navbar img {
    display: flex;
    width: 400px;
    padding: 100px 100px 100px 100px;
    border-radius: 50%;
}

.logo a {
    font-size: 80px;
    font-weight: 700;
    float: left;
    font-family: 'inter';
    color: #db0707ea;
}

.menu {
    float: right;
    font-size: px;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #e8e8e8;
    z-index: 2;
    border: 0px solid #000000;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    padding: 0px 40px 0px 40px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #5e71ff;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #ffffff;
}

.kolom .deskripsi {
    font-size: 45px;
    font-weight: bold;
    font-family: 'inter';
    color: #242c38;
}

h2 {
    font-family: 'inter';
    font-weight: 800;
    font-size: px;
    margin-bottom: 20px;
    margin-left: 15px;
    color: #222831;
    width: 100%;
    line-height: 50px;
}

button.tbl-biru {
    background: #ffffff;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    margin-left: 15px;
}

button.tbl-biru:hover {
    background-color: #3F72AF;
    text-decoration: none;
}

p {
    padding: 20px 20px 20px 20px;
    text-align: justify;
}

.tengah-h2-p{
    text-align: center;
    width: 100%;
}

.tutor-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-Koleksi {
    width: 20%;
    margin: 0 auto;   
}

.kartu-Koleksi img {
    width: 80%;
    border-radius: 50%;
    display: block;
     margin: auto;
}

.kartu-Koleksi p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-wrap: center;
    color: #3F72AF;
}

.kartu-Koleksi p:hover {
    font-family: 'comic sans ms' sans-serif;
    font-weight: 800;
    font-size: 25px;
    color: #ff00fb;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
    font-family: 'comic sans ms';
}
